# Setup

In [1]:
#Libraries
import pandas as pd
import censusgeocode as cg
import numpy as np
import random

In [2]:
#Load in the data
addresses = pd.read_csv("data/Allegheny_County_Address_Points.csv", na_values = [""])
census_tracts = pd.read_csv("data/census_variables.csv", na_values = ['NA', '-', '**'])
income_commute = pd.read_csv("data/Alle Co income and commute census data.csv")

D:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (20,21,26,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Remove useless columns from census_tracts
census_tracts = census_tracts.drop(columns = ["Unnamed: 0", "X"])

# Join using cesus geocode

address -> GEOID

Use the result to join the datasets

In [4]:
#Filter the addresses to only Pittsburgh
addresses = addresses[addresses['MUNICIPALITY'] == 'PITTSBURGH']

In [5]:
len(addresses)

124624

In [6]:
#Define a function for taking the address census_tract geocode

def get_info(df, address_col, state_col, zip_col, city_muni_col, subset_size, seed):
    '''
    Accepts a data frame and four strings specifying columns names where
    the full address, state, zip code, and city/municipality are stored.
    Any rows with NAs in these columns are filtered. The address attributes are
    extracted, and passed to censusgeocode to retrieve GEOID, which is added
    as a new column. A subset of rows of specified size is used with the 
    specified random seed.
    '''
    # Filter out any rows with NA in address related column
    f_df = df.dropna(subset = [address_col, state_col, zip_col, city_muni_col])
    
    #Select a random subset of rows to get addresses for
    #Dont need all of them for optimization
    subset_f_df = f_df.sample(n = subset_size, random_state = seed)
    
    #Initialize an empty list to collect the GEOIDs and latlon
    geoids = []
    lats = []
    lons = []
    
    #Takes a long to run, use a counter to check progress
    total_rows = len(subset_f_df)
    rows_complete = 0
    
    #iterate on each data frame row as a tuple, get address components
    for row in subset_f_df.itertuples():
        full_add = str(getattr(row, address_col))
        state = str(getattr(row, state_col))
        zip_code = str(int(getattr(row, zip_col)))
        city = str(getattr(row, city_muni_col))
        
        #Call censusgeocode for each row to get geoid
        result = cg.address(full_add, city = city, state = state, zipcode = zip_code)
        
        #If a match isn't found, geoid is np.NaN
        if len(result) == 0:
            geoid = np.NaN
            lat = np.NaN
            lon = np.NaN
        else:
            geoid = result[0]['geographies']['2010 Census Blocks'][0]['GEOID'][0:11]
            lat = result[0]['geographies']['2010 Census Blocks'][0]['INTPTLAT']
            lon = result[0]['geographies']['2010 Census Blocks'][0]['INTPTLON']
        
            #Clean the lat lon strings
            if lat[0] == '+':
                lat = float(lat[1:])
            else:
                lat = float(lat)
            
            if lon[0] == '+':
                lon = float(lon[1:])
            else:
                lon = float(lon)
        
        #Append to the frame
        geoids.append(geoid)
        lats.append(lat)
        lons.append(lon)
        
        rows_complete += 1
        
        #Report progress
        prog = round(rows_complete/total_rows, 4)
        print(prog*100,"%")
        
        
    
    #Append to the frame and return
    subset_f_df['GEOID'] = geoids
    subset_f_df['LATITUDE'] = lats
    subset_f_df['LONGITUDE'] = lons
    
    #Print the NaN Proportion
    nan_prop = subset_f_df['GEOID'].isna().sum()/total_rows
    print('Percent NaN GEOIDs:',nan_prop*100,'%')
    
    #Return the dataframe
    return subset_f_df

In [7]:
#Get the frame with GEOID
addresses = get_info(addresses, "FULL_ADDRESS", "STATE", "ZIP_CODE", "MUNICIPALITY", 750, 1234)

0.13 %
0.27 %
0.4 %
0.53 %
0.67 %
0.8 %
0.9299999999999999 %
1.0699999999999998 %
1.2 %
1.3299999999999998 %
1.47 %
1.6 %
1.73 %
1.87 %
2.0 %
2.13 %
2.27 %
2.4 %
2.53 %
2.67 %
2.8000000000000003 %
2.93 %
3.0700000000000003 %
3.2 %
3.3300000000000005 %
3.47 %
3.5999999999999996 %
3.73 %
3.8699999999999997 %
4.0 %
4.130000000000001 %
4.2700000000000005 %
4.3999999999999995 %
4.53 %
4.67 %
4.8 %
4.93 %
5.07 %
5.2 %
5.33 %
5.47 %
5.6000000000000005 %
5.7299999999999995 %
5.87 %
6.0 %
6.13 %
6.2700000000000005 %
6.4 %
6.529999999999999 %
6.67 %
6.800000000000001 %
6.93 %
7.07 %
7.199999999999999 %
7.33 %
7.470000000000001 %
7.6 %
7.7299999999999995 %
7.870000000000001 %
8.0 %
8.129999999999999 %
8.27 %
8.4 %
8.53 %
8.67 %
8.799999999999999 %
8.93 %
9.07 %
9.2 %
9.33 %
9.47 %
9.6 %
9.73 %
9.87 %
10.0 %
10.13 %
10.27 %
10.4 %
10.530000000000001 %
10.67 %
10.8 %
10.93 %
11.07 %
11.200000000000001 %
11.33 %
11.469999999999999 %
11.600000000000001 %
11.73 %
11.87 %
12.0 %
12.13 %
12.27 %
12.4 %
12.53 %
12.67 %
12.8 %
12.93 %
13.07 %
13.200000000000001 %
13.33 %
13.469999999999999 %
13.600000000000001 %
13.73 %
13.87 %
14.000000000000002 %
14.13 %
14.27 %
14.399999999999999 %
14.530000000000001 %
14.67 %
14.799999999999999 %
14.93 %
15.07 %
15.2 %
15.329999999999998 %
15.47 %
15.6 %
15.73 %
15.870000000000001 %
16.0 %
16.13 %
16.27 %
16.400000000000002 %
16.53 %
16.669999999999998 %
16.8 %
16.93 %
17.07 %
17.2 %
17.330000000000002 %
17.47 %
17.599999999999998 %
17.73 %
17.87 %
18.0 %
18.13 %
18.27 %
18.4 %
18.529999999999998 %
18.67 %
18.8 %
18.93 %
19.07 %
19.2 %
19.33 %
19.470000000000002 %
19.6 %
19.73 %
19.869999999999997 %
20.0 %
20.13 %
20.27 %
20.4 %
20.53 %
20.669999999999998 %
20.8 %
20.93 %
21.07 %
21.2 %
21.33 %
21.47 %
21.6 %
21.73 %
21.87 %
22.0 %
22.13 %
22.27 %
22.400000000000002 %
22.53 %
22.67 %
22.8 %
22.93 %
23.07 %
23.200000000000003 %
23.330000000000002 %
23.47 %
23.599999999999998 %
23.73 %
23.87 %
24.0 %
24.13 %
24.27 %
24.4 %
24.529999999999998 %
24.67 %
24.8 %
24.93 %
25.069999999999997 %
25.2 %
25.330000000000002 %
25.47 %
25.6 %
25.729999999999997 %
25.869999999999997 %
26.0 %
26.13 %
26.27 %
26.400000000000002 %
26.529999999999998 %
26.669999999999998 %
26.8 %
26.93 %
27.07 %
27.200000000000003 %
27.33 %
27.47 %
27.6 %
27.73 %
27.87 %
28.000000000000004 %
28.13 %
28.27 %
28.4 %
28.53 %
28.67 %
28.799999999999997 %
28.93 %
29.07 %
29.2 %
29.330000000000002 %
29.470000000000002 %
29.599999999999998 %
29.73 %
29.87 %
30.0 %
30.130000000000003 %
30.270000000000003 %
30.4 %
30.53 %
30.669999999999998 %
30.8 %
30.930000000000003 %
31.069999999999997 %
31.2 %
31.330000000000002 %
31.47 %
31.6 %
31.730000000000004 %
31.869999999999997 %
32.0 %
32.129999999999995 %
32.269999999999996 %
32.4 %
32.53 %
32.67 %
32.800000000000004 %
32.93 %
33.07 %
33.2 %
33.33 %
33.47 %
33.6 %
33.73 %
33.87 %
34.0 %
34.13 %
34.27 %
34.4 %
34.53 %
34.67 %
34.8 %
34.93 %
35.07 %
35.199999999999996 %
35.33 %
35.47 %
35.6 %
35.730000000000004 %
35.870000000000005 %
36.0 %
36.13 %
36.27 %
36.4 %
36.53 %
36.67 %
36.8 %
36.93 %
37.07 %
37.2 %
37.330000000000005 %
37.47 %
37.6 %
37.730000000000004 %
37.87 %
38.0 %
38.129999999999995 %
38.269999999999996 %
38.4 %
38.53 %
38.67 %
38.800000000000004 %
38.93 %
39.07 %
39.2 %
39.33 %
39.47 %
39.6 %
39.73 %
39.87 %
40.0 %
40.129999999999995 %
40.27 %
40.400000000000006 %
40.53 %
40.67 %
40.8 %
40.93 %
41.07 %
41.199999999999996 %
41.33 %
41.47 %
41.6 %
41.730000000000004 %
41.870000000000005 %
42.0 %
42.13 %
42.27 %
42.4 %
42.53 %
42.67 %
42.8 %
42.93 %
43.07 %
43.2 %
43.33 %
43.47 %
43.6 %
43.730000000000004 %
43.87 %
44.0 %
44.13 %
44.269999999999996 %
44.4 %
44.529999999999994 %
44.67 %
44.800000000000004 %
44.93 %
45.07 %
45.2 %
45.33 %
45.47 %
45.6 %
45.73 %
45.87 %
46.0 %
46.129999999999995 %
46.27 %
46.400000000000006 %
46.53 %
46.67 %
46.800000000000004 %
46.93 %
47.07 %
47.199999999999996 %
47.33 %
47.47 %
47.599999999999994 %
47.73 %
47.870000000000005 %
48.0 %
48.13 %
48.27 %
48.4 %
48.53 %
48.67 %
48.8 %
48.93 %
49.07 %
49.2 %
49.33 %
49.47 %
49.6 %
49.730000000000004 %
49.87 %
50.0 %
50.129999999999995 %
50.27 %
50.4 %
50.529999999999994 %
50.67 %
50.8 %
50.93 %
51.07000000000001 %
51.2 %
51.33 %
51.470000000000006 %
51.6 %
51.73 %
51.870000000000005 %
52.0 %
52.129999999999995 %
52.27 %
52.400000000000006 %
52.53 %
52.669999999999995 %
52.800000000000004 %
52.93 %
53.06999999999999 %
53.2 %
53.33 %
53.47 %
53.6 %
53.73 %
53.87 %
54.0 %
54.13 %
54.269999999999996 %
54.400000000000006 %
54.53 %
54.669999999999995 %
54.800000000000004 %
54.93 %
55.06999999999999 %
55.2 %
55.33 %
55.47 %
55.60000000000001 %
55.730000000000004 %
55.87 %
56.00000000000001 %
56.13 %
56.269999999999996 %
56.39999999999999 %
56.53 %
56.67 %
56.8 %
56.93 %
57.07 %
57.199999999999996 %
57.330000000000005 %
57.47 %
57.599999999999994 %
57.730000000000004 %
57.87 %
57.99999999999999 %
58.13 %
58.269999999999996 %
58.4 %
58.53 %
58.67 %
58.8 %
58.93000000000001 %
59.07 %
59.199999999999996 %
59.330000000000005 %
59.47 %
59.599999999999994 %
59.730000000000004 %
59.870000000000005 %
60.0 %
60.129999999999995 %
60.27 %
60.4 %
60.529999999999994 %
60.67 %
60.8 %
60.92999999999999 %
61.07 %
61.199999999999996 %
61.33 %
61.47 %
61.6 %
61.73 %
61.870000000000005 %
62.0 %
62.129999999999995 %
62.27 %
62.4 %
62.529999999999994 %
62.67 %
62.8 %
62.93 %
63.07000000000001 %
63.2 %
63.33 %
63.470000000000006 %
63.6 %
63.73 %
63.870000000000005 %
64.0 %
64.13 %
64.27000000000001 %
64.4 %
64.53 %
64.67 %
64.8 %
64.92999999999999 %
65.07 %
65.2 %
65.33 %
65.47 %
65.60000000000001 %
65.73 %
65.86999999999999 %
66.0 %
66.13 %
66.27 %
66.4 %
66.53 %
66.67 %
66.8 %
66.93 %
67.07 %
67.2 %
67.33 %
67.47 %
67.60000000000001 %
67.73 %
67.86999999999999 %
68.0 %
68.13 %
68.27 %
68.4 %
68.53 %
68.67 %
68.8 %
68.93 %
69.07 %
69.19999999999999 %
69.33 %
69.47 %
69.6 %
69.73 %
69.87 %
70.0 %
70.13000000000001 %
70.27 %
70.39999999999999 %
70.53 %
70.67 %
70.8 %
70.93 %
71.07 %
71.2 %
71.33 %
71.47 %
71.6 %
71.73 %
71.87 %
72.0 %
72.13000000000001 %
72.27 %
72.39999999999999 %
72.53 %
72.67 %
72.8 %
72.92999999999999 %
73.07000000000001 %
73.2 %
73.33 %
73.47 %
73.6 %
73.72999999999999 %
73.87 %
74.0 %
74.13 %
74.27 %
74.4 %
74.53 %
74.67 %
74.8 %
74.92999999999999 %
75.07000000000001 %
75.2 %
75.33 %
75.47 %
75.6 %
75.73 %
75.87 %
76.0 %
76.13 %
76.27000000000001 %
76.4 %
76.53 %
76.67 %
76.8 %
76.92999999999999 %
77.07000000000001 %
77.2 %
77.33 %
77.47 %
77.60000000000001 %
77.73 %
77.86999999999999 %
78.0 %
78.13 %
78.27 %
78.4 %
78.53 %
78.67 %
78.8 %
78.93 %
79.07 %
79.2 %
79.33 %
79.47 %
79.60000000000001 %
79.73 %
79.86999999999999 %
80.0 %
80.13 %
80.27 %
80.4 %
80.53 %
80.67 %
80.80000000000001 %
80.93 %
81.07 %
81.2 %
81.33 %
81.47 %
81.6 %
81.73 %
81.87 %
82.0 %
82.13000000000001 %
82.27 %
82.39999999999999 %
82.53 %
82.67 %
82.8 %
82.93 %
83.07 %
83.2 %
83.33 %
83.47 %
83.6 %
83.73 %
83.87 %
84.0 %
84.13000000000001 %
84.27 %
84.39999999999999 %
84.53 %
84.67 %
84.8 %
84.93 %
85.07000000000001 %
85.2 %
85.33 %
85.47 %
85.6 %
85.72999999999999 %
85.87 %
86.0 %
86.13 %
86.27 %
86.4 %
86.53 %
86.67 %
86.8 %
86.92999999999999 %
87.07000000000001 %
87.2 %
87.33 %
87.47 %
87.6 %
87.72999999999999 %
87.87 %
88.0 %
88.13 %
88.27000000000001 %
88.4 %
88.53 %
88.67 %
88.8 %
88.92999999999999 %
89.07000000000001 %
89.2 %
89.33 %
89.47 %
89.60000000000001 %
89.73 %
89.87 %
90.0 %
90.13 %
90.27 %
90.4 %
90.53 %
90.67 %
90.8 %
90.93 %
91.07 %
91.2 %
91.33 %
91.47 %
91.60000000000001 %
91.73 %
91.86999999999999 %
92.0 %
92.13 %
92.27 %
92.4 %
92.53 %
92.67 %
92.80000000000001 %
92.93 %
93.07 %
93.2 %
93.33 %
93.47 %
93.60000000000001 %
93.73 %
93.87 %
94.0 %
94.13 %
94.27 %
94.39999999999999 %
94.53 %
94.67 %
94.8 %
94.93 %
95.07 %
95.19999999999999 %
95.33 %
95.47 %
95.6 %
95.73 %
95.87 %
96.0 %
96.13000000000001 %
96.27 %
96.39999999999999 %
96.53 %
96.67 %
96.8 %
96.93 %
97.07000000000001 %
97.2 %
97.33000000000001 %
97.47 %
97.6 %
97.72999999999999 %
97.87 %
98.0 %
98.13 %
98.27 %
98.4 %
98.53 %
98.67 %
98.8 %
98.92999999999999 %
99.07000000000001 %
99.2 %
99.33 %
99.47 %
99.6 %
99.72999999999999 %
99.87 %
100.0 %
Percent NaN GEOIDs: 2.666666666666667 %

In [10]:
# Force both GEOID columns to be int for joining
addresses['GEOID'] = addresses['GEOID'].astype(str)
income_commute['GEOID'] = income_commute['GEOID'].astype(str)

# Join the addresses result with income distribution
address_dist = addresses.merge(income_commute, how = "left", left_on = "GEOID", right_on = "GEOID")

In [11]:
# Filter rows with NAs in relevant columns
address_dist = address_dist.dropna(subset = ['GEOID', 'LATITUDE', 'LONGITUDE', 
       'Total Households', 'Less than $10,000', '$10,000 to $14,999',
       '$15,000 to $19,999', '$20,000 to $24,999', '$25,000 to $29,999',
       '$30,000 to $34,999', '$35,000 to $39,999', '$40,000 to $44,999',
       '$45,000 to $49,999', '$50,000 to $59,999', '$60,000 to $74,999',
       '$75,000 to $99,999', '$100,000 to $124,999', '$125,000 to $149,999',
       '$150,000 to $199,999', '$200,000 or more', 'Total Workers',
       'Commute to work by car'])

In [13]:
address_dist.columns

Index(['X', 'Y', 'OBJECTID', 'FEATURE_KEY', 'ADDRESS_ID', 'PARENT_ID',
       'STREET_ID', 'DUP_STREET_ID', 'ADDRESS_TYPE', 'STATUS',
       'ADDR_NUM_PREFIX', 'ADDR_NUM', 'ADDR_NUM_SUFFIX', 'ST_PREMODIFIER',
       'ST_PREFIX', 'ST_PRETYPE', 'ST_NAME', 'ST_TYPE', 'ST_POSTMODIFIER',
       'UNIT_TYPE', 'UNIT', 'FLOOR', 'MUNICIPALITY', 'COUNTY', 'STATE',
       'ZIP_CODE', 'ZIP_CODE4', 'COMMENT', 'EDIT_DATE', 'EDIT_USER', 'SOURCE',
       'EXP_FLAG', 'FULL_ADDRESS', 'ENFORCE_VALIDATION', 'SOURCE_ID',
       'ST_SUFFIX', 'GlobalID', 'GEOID', 'LATITUDE', 'LONGITUDE',
       'Total Households', 'Less than $10,000', '$10,000 to $14,999',
       '$15,000 to $19,999', '$20,000 to $24,999', '$25,000 to $29,999',
       '$30,000 to $34,999', '$35,000 to $39,999', '$40,000 to $44,999',
       '$45,000 to $49,999', '$50,000 to $59,999', '$60,000 to $74,999',
       '$75,000 to $99,999', '$100,000 to $124,999', '$125,000 to $149,999',
       '$150,000 to $199,999', '$200,000 or more', 'Total Workers',
       'Commute to work by car', 'geometry'],
      dtype='object')

In [21]:
# Create functions to model income and commute probality based on census distributions
def sim_income_commute(df):
    '''
    Simulates income for a data frame based on census income bins.
    '''
    #initialize empty lists
    incomes = []
    commute_statuses = []
    
    for row in df.itertuples():

        #Get the proper attributes
        households = int(getattr(row, "_41"))
        lt_10k = int(getattr(row, "_42"))
        _10_to_14_999 = int(getattr(row, "_43"))
        _15_to_19_999 = int(getattr(row, "_44"))
        _20_to_24_999 = int(getattr(row, "_45"))
        _25_to_29_999 = int(getattr(row, "_46"))
        _30_to_34_999 = int(getattr(row, "_47"))
        _35_to_39_999 = int(getattr(row, "_48"))
        _40_to_44_999 = int(getattr(row, "_49"))
        _45_to_49_999 = int(getattr(row, "_50"))
        _50_to_59_999 = int(getattr(row, "_51"))
        _60_to_75_999 = int(getattr(row, "_52"))
        _75_to_99_999 = int(getattr(row, "_53"))
        _100_to_124_999 = int(getattr(row, "_54"))
        _125_to_149_999 = int(getattr(row, "_55"))
        _150_to_199_999 = int(getattr(row, "_56"))
        gr_200k = int(getattr(row, "_57"))
        total_workers = int(getattr(row, "_58"))
        com_by_car = int(getattr(row, "_59"))
        
        #Simulate income
        #randomly generate a number between 1 and the total households
        #See what bracket that falls into and uniformly generate the income
        samples = [i for i in range(1, households+1)]
        
        #In rare cases households will be zero, just manually set income when this happens
        if samples == []:
            income = 30000
        
        else:
            x = random.sample(samples, 1)[0]
        
            #Sampling pointer
            s = 0
        
            if 1 <= x <= lt_10k:
                income = int(random.uniform(1, 9999))
        
            s += lt_10k
            
            if s < x <= (_10_to_14_999+s):
                income = int(random.uniform(10000, 14999))
            
            s += _10_to_14_999
        
            if s < x <= _15_to_19_999+s:
                income = int(random.uniform(15000, 19999))
            
            s += _15_to_19_999
        
            if s < x <= _20_to_24_999+s:
                income = int(random.uniform(20000, 24999))
            
            s += _20_to_24_999
        
            if s < x <= _25_to_29_999+s:
                income = int(random.uniform(25000, 29999))
            
            s + _25_to_29_999
            
            if s < x <= _30_to_34_999+s:
                income = int(random.uniform(30000, 34999))
            
            s += _30_to_34_999
            
            if s < x <= _35_to_39_999+s:
                income = int(random.uniform(35000, 39999))
            
            s += _35_to_39_999
        
            if s < x <= _40_to_44_999+s:
                income = int(random.uniform(40000, 44999))
            
            s += _40_to_44_999
            
            if s < x <= _45_to_49_999+s:
                income = int(random.uniform(45000, 49999))
            
            s += _45_to_49_999
            
            if s < x <= _50_to_59_999+s:
                income = int(random.uniform(50000, 59999))
            
            s += _50_to_59_999
        
            if s < x <=  _60_to_75_999+s:
                income = int(random.uniform(60000, 74999))
            
            s += _60_to_75_999
            
            if s < x <=  _75_to_99_999+s:
                income = int(random.uniform(75000, 99999))
            
            s += _75_to_99_999
            
            if s < x <=  _100_to_124_999+s:
                income = int(random.uniform(100000, 124999))
            
            s += _100_to_124_999
            
            if s < x <=  _125_to_149_999+s:
                income = int(random.uniform(125000, 149999))
            
            s += _125_to_149_999
            
            if s < x <=  _150_to_199_999+s:
                income = int(random.uniform(150000, 199999))
            
            s += _150_to_199_999
            
            if s < x <=  gr_200k+s:
                income = int(random.uniform(200000, 250000))
        
        incomes.append(income)
        
        #Simulate commute status
        #Assume independence from income, except at the highest and lowest levels
        
        if income <= 15000:
            commute = 0
        
        elif income >= 100000:
            commute = 1
        
        else:
            try:
                prob_commute = com_by_car / total_workers
            except ZeroDivisionError:
                prob_commute = 0.5
            commute = np.random.choice([1,0], 1, p = [prob_commute, 1-prob_commute])[0]
        
        commute_statuses.append(commute)
        
        #Return the resulting lists as a tuple
    return incomes, commute_statuses

In [22]:
#Run the function on our data frame
incomes_list, commute_statuses = sim_income_commute(address_dist)

#Append to the frame
address_dist['simulated_income'] = incomes_list
address_dist['simulated_commute_car'] = commute_statuses

In [23]:
address_dist['simulated_income']

0       68456
1       61681
2       50025
3      129396
4       37848
        ...
745    148333
746    148333
747      2407
748     52981
749     58026
Name: simulated_income, Length: 730, dtype: int64

In [24]:
address_dist.columns

Index(['X', 'Y', 'OBJECTID', 'FEATURE_KEY', 'ADDRESS_ID', 'PARENT_ID',
       'STREET_ID', 'DUP_STREET_ID', 'ADDRESS_TYPE', 'STATUS',
       'ADDR_NUM_PREFIX', 'ADDR_NUM', 'ADDR_NUM_SUFFIX', 'ST_PREMODIFIER',
       'ST_PREFIX', 'ST_PRETYPE', 'ST_NAME', 'ST_TYPE', 'ST_POSTMODIFIER',
       'UNIT_TYPE', 'UNIT', 'FLOOR', 'MUNICIPALITY', 'COUNTY', 'STATE',
       'ZIP_CODE', 'ZIP_CODE4', 'COMMENT', 'EDIT_DATE', 'EDIT_USER', 'SOURCE',
       'EXP_FLAG', 'FULL_ADDRESS', 'ENFORCE_VALIDATION', 'SOURCE_ID',
       'ST_SUFFIX', 'GlobalID', 'GEOID', 'LATITUDE', 'LONGITUDE',
       'Total Households', 'Less than $10,000', '$10,000 to $14,999',
       '$15,000 to $19,999', '$20,000 to $24,999', '$25,000 to $29,999',
       '$30,000 to $34,999', '$35,000 to $39,999', '$40,000 to $44,999',
       '$45,000 to $49,999', '$50,000 to $59,999', '$60,000 to $74,999',
       '$75,000 to $99,999', '$100,000 to $124,999', '$125,000 to $149,999',
       '$150,000 to $199,999', '$200,000 or more', 'Total Workers',
       'Commute to work by car', 'geometry', 'simulated_income',
       'simulated_commute_car'],
      dtype='object')

In [25]:
address_dist.head()

,X,Y,OBJECTID,FEATURE_KEY,ADDRESS_ID,PARENT_ID,STREET_ID,DUP_STREET_ID,ADDRESS_TYPE,STATUS,...,"$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",Total Workers,Commute to work by car,geometry,simulated_income,simulated_commute_car
0,1.365128e+06,406906.400219,382176,382176,382176,NaN,28547,1,Building,Active,...,310.0,151.0,144.0,183.0,228.0,2337.0,1376.0,"list(list(c(-79.923142, -79.922833, -79.922984...",68456,0
1,1.356173e+06,425711.400334,37370,37370,37370,NaN,12664,1,Situs,Active,...,152.0,92.0,87.0,44.0,26.0,1735.0,1324.0,"list(list(c(-79.96069, -79.955351, -79.951054,...",61681,1
2,1.348989e+06,406992.899921,328850,328850,328850,NaN,22039,1,Situs,Active,...,200.0,181.0,168.0,118.0,76.0,1855.0,1298.0,"list(list(c(-79.976265, -79.975817, -79.973779...",50025,0
3,1.353580e+06,415179.500129,375525,375525,375525,NaN,1308,1,Situs,Active,...,40.0,70.0,68.0,41.0,27.0,675.0,456.0,"list(list(c(-79.966005, -79.96042, -79.958853,...",129396,1
4,1.371601e+06,416042.631017,888790,557574,557574,NaN,8531,1,Building,Active,...,43.0,12.0,4.0,0.0,0.0,311.0,95.0,"list(list(c(-79.90531, -79.905264, -79.904908,...",37848,0

In [26]:
#Get the relevant columns and write to CSV
cols = ['GEOID','FULL_ADDRESS', 'MUNICIPALITY', 'COUNTY', 'STATE', 'ZIP_CODE', 'LATITUDE', 'LONGITUDE', 'simulated_income', 'simulated_commute_car']
final_df = address_dist[cols]

In [27]:
final_df

,GEOID,FULL_ADDRESS,MUNICIPALITY,COUNTY,STATE,ZIP_CODE,LATITUDE,LONGITUDE,simulated_income,simulated_commute_car
0,42003140800,2331 TILBURY AVE,PITTSBURGH,ALLEGHENY COUNTY,PA,15217.0,40.429206,-79.916855,68456,0
1,42003101100,5267 KEYSTONE ST,PITTSBURGH,ALLEGHENY COUNTY,PA,15201.0,40.480946,-79.951692,61681,1
2,42003160900,2112 SIDNEY ST,PITTSBURGH,ALLEGHENY COUNTY,PA,15203.0,40.429154,-79.975386,50025,0
3,42003050600,817 ANAHEIM ST,PITTSBURGH,ALLEGHENY COUNTY,PA,15219.0,40.452001,-79.959719,129396,1
4,42003130300,7280 FLEURY WAY,PITTSBURGH,ALLEGHENY COUNTY,PA,15208.0,40.455458,-79.895590,37848,0
...,...,...,...,...,...,...,...,...,...,...
745,42003191800,613 WOODBOURNE AVE,PITTSBURGH,ALLEGHENY COUNTY,PA,15226.0,40.394268,-80.023588,148333,1
746,42003191600,1322 KENBERMA AVE,PITTSBURGH,ALLEGHENY COUNTY,PA,15216.0,40.413501,-80.022508,148333,1
747,42003100500,4272 STANTON AVE,PITTSBURGH,ALLEGHENY COUNTY,PA,15201.0,40.478491,-79.943522,2407,0
748,42003191700,179 LONDON TOWNE DR,PITTSBURGH,ALLEGHENY COUNTY,PA,15226.0,40.405867,-80.009433,52981,1
749,42003080700,356 S NEGLEY AVE,PITTSBURGH,ALLEGHENY COUNTY,PA,15232.0,40.459551,-79.933643,58026,0

In [28]:
final_df.to_csv('addresses_simulated_incomes_pitt.csv', index = False)