In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Datasets/parcel_data.csv', low_memory = False)
df.head()

,PIN,geom,PROPERTYHOUSENUM__asmt,PROPERTYADDRESS__asmt,PROPERTYZIP__asmt,USECODE__asmt,LOTAREA__asmt,COUNTYBUILDING__asmt,COUNTYLAND__asmt,COUNTYTOTAL__asmt
0,0042P00013000000,"{'coordinates': [[[[-80.0619341026642, 40.4544...",1100.0,SUTHERLAND ST,15204,10,5500.0,17900.0,14100.0,32000.0
1,0019B00096000000,"{'coordinates': [[[[-80.0426864688937, 40.4418...",901.0,NEIDEL ST,15220,10,6000.0,5900.0,14100.0,20000.0
2,0006P00174000000,"{'coordinates': [[[[-80.0249972124952, 40.4337...",0.0,AUGUSTA ST,15211,100,14400.0,0.0,26900.0,26900.0
3,0026R00063000000,"{'coordinates': [[[[-79.9560083509559, 40.4538...",942.0,ALPENA ST,15219,10,5459.0,54400.0,30000.0,84400.0
4,0032A00267000000,"{'coordinates': [[[[-79.9789812410175, 40.4120...",511.0,CATHEDRAL AVE,15210,10,6336.0,12000.0,10100.0,22100.0

In [11]:
column_selections = ["PROPERTYHOUSENUM__asmt", "PROPERTYADDRESS__asmt", "PROPERTYZIP__asmt", "LOTAREA__asmt", "USECODE__asmt",
                    "COUNTYBUILDING__asmt", "COUNTYLAND__asmt", "COUNTYTOTAL__asmt"]
df = df.loc[:, column_selections]
vacant = df["USECODE__asmt"] == 100
vacant_df = df[vacant]

large = df["LOTAREA__asmt"] >= 30000
large_df = df[large]

vacant_large_df = df[vacant & large]

In [13]:
max(vacant_large_df["LOTAREA__asmt"])

3589301.0